---
import Base from "../layouts/Base.astro";
---
<Base title="Not found">
  <div class="container" style="text-align:center">
    <h1>404 — Not found</h1>
    <a class="navbar-link" href="/">Back to Home</a>
  </div>
</Base>
