---
import Image from "./Image.astro";
const { title, thumbnail } = Astro.props;
---
<article class="card workcard">
  <Image src={thumbnail} />
  <div style="display:flex;align-items:center;justify-content:space-between">
    <strong>{title}</strong>
    <a href="/work" class="button button--ghost" style="white-space:nowrap">See work</a>
  </div>
</article>
